<div class="container">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h1>Traveling Weather App</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h2>Choose Your Cities</h2>
      <p>{{city}}</p>
    </div>
    <div class="col-md-6">
      <h2>Weather</h2>
      <p>{{dateResults}}</p>
      <p>{{city}}</p>
      <p>{{weatherResults}}</p>
      <p><i class="fa fa-sun-o"></i>{{description}}</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <p>Choose next city</p>
    </div>
    <div class="col-md-6">
      <p>The weather will show here</p>
      <p><i class="fa fa-cloud"></i></p>
    </div>
  </div>

</div> <!-- close container -->